@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-brand-50 text-ink antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold text-ink;
  }
}
